/* adminUser.css */

.admin-users-container {
  padding: 2rem 2rem;
  background: #f9fbfd;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.user-container{
  max-width: 600px;
  margin: 2rem auto;
  padding: 0rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", sans-serif;
  display: flex
;
  justify-content: center;
  flex-direction: column;
}

.admin-users-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #1c2237;
  margin-bottom: 3rem;
  position: relative;
  letter-spacing: 1px;
}

.admin-users-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #3498db, #2ecc71);
  margin: 1rem auto 0;
  border-radius: 3px;
}

.admin-users {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 1rem;
}

.user-grid {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}

.user-grid thead {
  background-color: #233342;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
  display: flex
;
  justify-content: center;
}

.user-grid th,
.user-grid td {
  padding: 1rem 1.2rem;
  text-align: left;
  font-size: 0.95rem;
  border-bottom: 1px solid #e6e6e6;
}

.user-grid tbody tr:hover {
  background-color: #f2f6fa;
  transition: background 0.3s ease;
}

.user-grid button {
  background-color: #501610;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.user-grid button:hover {
  background-color: #8d2315;
}

.user-grid a {
  color: #2980b9;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.9rem;
}

.user-grid a:hover {
  text-decoration: underline;
}
